<div id="cadastro">
  <div id="left"></div>
  <div id="center">
    <div id="cadastro-form">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <input type="email" name="usuario[email]" autofocus="autofocus" placeholder="Email">
        </div>

        <div class="field">
          <input type="password" name="usuario[password]" placeholder="Senha">
        </div>

        <div class="field">
          <input type="password" name="usuario[password_confirmation]" placeholder="Confirmar senha">
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div id="right"></div>
</div>
