#buscar-produtos{

	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	font-family: helvetica;

	#left{
		#filtros{
			padding: 105px 0px 0px 80px;

			#filtro-preco{
				margin: 0px 60px 0px 0px;
				padding: 20px 20px 10px 20px;
				background-color: #dddddd;
				box-shadow: 1px 1px 2px 0px #999999;
				border-radius: 5px;
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: center;

				#filtro-preco-header{

				}
				
				#filtro-preco-body{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-contet: center;

					#preco-de{
						width: 50px;
						margin: 0px 10px 0px 0px;
						padding: 5px 0px 5px  5px;
						border-radius: 5px;
						border: 1px solid #111111;
					}
					#preco-ate{
						width: 50px;
						margin: 0px 0px 0px 10px;
						padding: 5px 0px 5px 5px;
						border-radius: 5px;
						border: 1px solid #111111;
					}
				}
			}
		}
	}

	#center{
		#grupo-busca{

			display: grid;
			grid-template-columns: 8fr 2fr;
			grid-template-rows: 1fr;
			width: 100%;
			background-color: rgba(#f0f0f0,1);
			border: 1px solid rgba(#cccccc,1);
			box-shadow: 1px 1px 2px 0px rgba(#cccccc,1);
			margin: 40px 0px 10px 0px;


			#busca-input{
				flex-grow: 8;
				border: none;
				background-color: #ffffff;
				padding: 5px 10px 5px 10px;
				font-size: 1.2em;
			}

			#busca-botao{
				flex-grow: 2;
				border: none;
				background-color: transparent;
				border-left: 1px solid rgba(#cccccc,1);
				font-size: 1.2em;
				padding: 5px 0px 5px 0px;

				&:hover{
					background-color: #dddddd;
				}

			}
		}

		#lista-produtos{

			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			margin: 10px 0px 30px 0px;

			.resultado-produto{
				position: relative;
				display: grid;
				grid-template-columns: repeat(12,90px);
				grid-template-rows: 90px;
				gap: 10px;
				box-shadow: 1px 1px 2px 0px #999999;
				margin: 20px 0px 0px 0px;
				background-color: #f0f0f0;
				border-radius: 5px;

				.resultado-produto-icone-container{
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					grid-column: 1;

					.resultado-produto-icone{
						overflow: hidden;
						height: 100%;
						width: 100%;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}
				}

				.resultado-produto-nome{
					text-align: center;
					grid-column: 2 / 4;
				}

				.resultado-produto-preco{
					text-align: center;
					grid-column: 4;
				}
				
				.resultado-produto-quantidade{
					text-align: center;
					grid-column: 5;
				}
				
				.resultado-produto-total{
					text-align: center;
					grid-column: 6;
				}
				
				.resultado-produto-data{
					text-align: center;
					grid-column: 7 / 9;
				}

				.resultado-produto-controles{
					.produto-controles-button{
						position: absolute;
						width: 10px;
						height: 10px;
					}
				}

				.resultado-produto-dropdown{
					position: absolute;
					top: 0;
					right: 0;
					grid-column: 12;
					margin: 0px 10px 0px 0px;
					font-size: 1.5em;
					display: grid;
					grid-template-columns: 1fr;

					background-color: #333333;
					color: #ffffff;

					.produto-dropdown-item{
						background-color: #55ff55;
						color: #ffffff;
					}

				}

				.resultado-produto-cover{
					position: absolute;
					width: 100%;
					height: 100%;

					&:hover{
						background-color: rgba(#999999,0.1);
					}
				}

			}

		}

		#lista-vazia{
			align-self: center;
			background-color: #dddddd;
			border-radius: 5px;
			box-shadow: 1px 1px 2px 0px #999999;
			padding: 10px 10px 10px 10px;
			margin: 20px 0px 0px 0px;
		}

	}

	#right{

	}

}