<div id="carrinho">
	<div id="left"></div>
	<div id="center">
		<div id="lista-carrinho">
			<div id="lista-vazia">Não há produtos no carrinho</div>
			<form action="<%= finalizar_compra_path %>" method="post" data-turbo="false">
				<%= token_tag %>
				<div id="carrinho-itens"></div>
				<div id="itens-total"></div>
			</form>
		</div>
	</div>
	<div id="right"></div>
</div>