<div id="ver-produto">
	<div id="left"></div>
	<div id="center">
		<div id="produto-container">
			<div id="produto-display">
				<div id="produto-imagem-container">
					<img id="produto-imagem" src="<%= asset_path(@icone.path)%>">
				</div>
				<div id="produto-informacoes">
					<div id="produto-nome">Nome do produto</div>
					<div id="produto-preco">R$ 1000.00</div>
					<div id="produto-informacoes-controles">
						<button class="botao-adicionar-carrinho" id="botao-adicionar-carrinho-<%= params[:id]%>">Adicionar ao carrinho</button>
					</div>
				</div>
			</div>
			<div id="produto-carroussel-imagens">
				<% @imagens.each do |imagem| %>
					<img class="produto-carroussel-imagem" src="<%= asset_path(imagem.path)%>">
				<% end %>
			</div>
			<div id="produto-carroussel-cover">
				<div id="produto-carroussel-up"></div>
				<div id="produto-carroussel-down"></div>
			</div>
		</div>
	</div>
	<div id="right"></div>
</div>